<nav class="navbar navbar-dark bg-inverse" id="sidebar-wrapper" data-turbolinks-permanent>
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="/"><%= image %>&nbsp; <%= title %></a>
    </li>
    <% links.each do |name, attributes| %>
      <li class="<%= attributes[:active] %>">
        <%= link_to attributes[:link], method: (attributes[:method] || 'get') do %>
          <div>
            <span class="fa fa-<%= attributes[:icon] %>"></span> <%= name %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<nav class="navbar navbar-dark bg-inverse navbar-fixed-bottom navbar-side-scroll hidden-md-up" data-turbolinks-permanent>
  <ul class="nav nav-pills">
    <li class="nav-item brand">
      <a href="/" class="nav-item text-center">
        <%= image %></a></br> <small><%= title %></small>
      </a>
    </li>
    <% links.each do |name, attributes| %>
      <li class="nav-item <%= attributes[:active] %>">
        <%= link_to attributes[:link], method: attributes[:method] || 'get', class: "nav-item text-center" do %>
          <span class="fa fa-fw fa-<%= attributes[:icon] %>"></span></br>
          <small><%= name %></small>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
